body{
    background-image: url("../IMAGES/planner-background-img-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/* .form-wrapper{
    background-image: url("../IMAGES/planner-background-img-6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
} */

.card-wrapper{
    /* background-image: url("../IMAGES/planner-background-img-2.jpg");
    background-size: cover;
    background-repeat: no-repeat; */
    border: 3px solid steelblue;
}

